
thead td {
    background-image: none !important;
} 

.add_question_btn  {
    margin-right: 15px;
    margin-left: 15px;
}

.title_input {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 39px;
}

.content_input {
    margin-top: 20px;
    margin-bottom: 10px;
    height: 33px;
}

.upload_flag {
    background-color: #faa755;
    color: white;
}

.list_button_add button {
    min-width: 140px;
}

.list_button_add {
    position: fixed;
    left: 200px;
    top: 135px;
}

#editview input[type="checkbox"] {
    margin-top: 10px;
    margin-bottom: 10px;
}
