<div class="">

    <div id="answer_show">
    <div class="" v-if="flag == 0">
        <div class='naire_body font-weight text-center '>
            <h4><div>{{naire.title}}</div>
            <div><small>{{naire.notes}}</small></div></h4>
        </div>
        <div class="question_elf box" v-for="(question, key) in question_list" 
            v-bind:userkey="key" v-bind:id="'question_'+question.id" v-bind:question_id="question.id" v-bind:class="{hidden: question.status == 'hide'}">
            
            <div class='qtitle'>{{question.title}}</div>
            <div class='qnotes'>{{question.notes}}</div>
            
            <div v-if="question.type === 'radio'">
                <div v-for="(question_opt, key) in question.options" v-bind:userkey="key">
                    <label class="radio-inline">
                    <input type="radio" class='r_and_c radio_input ' v-on:click='radio_click(question, question_opt)' 
                    v-bind:name='question.id' v-bind:option_id='question_opt.id' v-bind:value='question_opt.value' 
                    v-bind:checked="question_opt.status == 'checked'"> 
                        {{question_opt.value}}
                    </label> 
                </div>
            </div>
            <div v-else-if="question.type === 'check'">
                <div v-for="(question_opt, key) in question.options" v-bind:userkey="key">
                    <label class="checkbox-inline">
                    <input type="checkbox" class='r_and_c check_input' v-bind:option_id='question_opt.id'  
                    v-on:click='check_click(question)'  v-bind:name='question.id' v-bind:value='question_opt.value'
                    v-bind:checked="question_opt.status == 'checked'"> 
                        {{question_opt.value}}
                    </label> 
                </div>
            </div>
            <div v-else-if="question.type === 'star'">
                <label class="radio-inline">
                    <div class="star_input" v-on:click="star_click" v-bind:star_count="question.answer_value" width="200"></div>
                </label>
                <label class="radio-inline">{{question.answer_value}}分</label>
            </div>
            <div v-else-if="question.type === 'range'">
                <label class="radio-inline">
                    <input type="range" class='range_input' name="" min="1" 
                    v-bind:max="question.value.setnumber" v-on:change="range_change(question)"  v-bind:value="question.answer_value"/>
                </label class="radio-inline">
                <label>{{question.answer_value}}分</label>
            </div>
            <div v-else-if="question.type === 'text'">
                <input class='text_input' type="text" name="" v-on:blur="text_blur(question)"  v-bind:value="question.answer_value"/>
            </div>
            <div v-if="question.is_upload == 1">
                <div class='btn btn-success center-block' style='width: 80%; margin-top: 10px;' v-on:click="show_pic_dialog(question)">添加图片</div>
            </div>
        </div>
        <div class='btn btn-primary submit_btn' v-on:click="showSumbitSheetModal()">提交答卷</div>
        <div class='btn btn-default backbtn' v-on:click="goBack()">返回列表</div>
    </div>

    <div class="modal" id="submit_sheet_modal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="padding-top: 1.5em;">
                    <strong style="font-size: 1.5em;">确认提交任务？</strong>
                    <p style="margin-top: 1em;">提交任务之后将无法继续修改，请等待审核</p>
                </div>
                <div class="modal-footer flex-item flex-row" style="width: 100%; padding: 0px; text-align: center;">
                    <div class="modal-footer-btn modal-footer-left_btn" id="submit_sheet_cancel" data-dismiss="modal">取消</div>
                    <div class="modal-footer-btn modal-footer-right_btn text-primary" id="submit_sheet_submit" v-on:click="sumbitSheet()">提交</div>
                </div>
            </div>
        </div>
    </div>
    </div>
    
    <!-- 图片主体页面 -->
    <div v-if="flag == 1" class="wx_view" id="wx_view">
        <div v-if="card_book_loading == 1" class="card_book_loading">
            <p>资料加载中...</p>
        </div>
        <div class="wx_col_item card_book" style="display','flex">
            <div class="alert alert-info card_book_alert uploading_alert center-block" role="alert" 
             style="display: none;">
                <i class="fa fa-upload" aria-hidden="true"></i>图片上传中，请稍后...
            </div>
            <div class="alert alert-success card_book_alert upload_success_alert center-block" role="alert" 
             style="display: none;">
                <i class="fa fa-check" aria-hidden="true"></i>讯息：图片上传成功！
            </div>
            <div class="alert alert-danger card_book_alert upload_fail_alert center-block" role="alert" 
             style="display: none;">
                <i class="fa fa-exclamation" aria-hidden="true"></i>错误：图片上传失败！
            </div>
            <div class="wx_row_item card_book_page">
                <div class="card" v-if='qst_photosList !== null || qst_photosList != "undefined"' v-for="photo in qst_photosList">
                    <div class="card_body" v-bind:style="{'background-image':'url('+__imgRoot+photo.imgUrl+')'}">
                    </div>
                    <div class="card_footer dropup" >
                        <div class="card_title">{{ photo['imgContent'] }}</div>
                        <button class="card_dropdown_btn" id="dLabel" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-option-vertical" aria-hidden="true"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right card_menu" aria-labelledby="dLabel">
                            <li v-on:click="modifyPhoto(photo.imgUrl)"><i class="fa fa-pencil" aria-hidden="true"></i>修改</li>
                            <li v-on:click="deletePhoto(photo.imgUrl)"><i class="fa fa-trash" aria-hidden="true"></i>删除</li>
                        </ul>
                    </div>
                </div>
                <div class="card add_card_btn" id="add_card_btn" v-on:click="addPhoto()">
                    <i class="fa fa-plus" style="padding-right: 0px; font-size: 4em;"></i>
                    <div>点击添加图片</div>
                </div>
            </div>
            <div class="wx_row_item bottom_area" style='padding: 15px;'>
                <button type="button" style='width: 100%;padding: 15px;' class="btn btn-default" v-on:click="goBack()">返回</button>
            </div>
        </div>
    </div>

    <!-- 添加卡片提示框 -->
    <div class="modal" id="add_photo_modal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <strong style="font-size: 1.5em;">提交图片</strong>
                </div>
                <div class="modal-body">
                    <img id="add_photo_modal_img" v-bind:src="imgUrl">
                    <input type="text" class="form-control" id="add_photo_modal_img_content" placeholder="请添加备注" v-bind:value="imgContent">
                </div>
                <div class="modal-footer">
                    <div class="modal-footer-btn modal-footer-left_btn" id="add_photo_cancel" data-dismiss="modal">取消</div>
                    <div class="modal-footer-btn modal-footer-right_btn" id="add_photo_submit" v-on:click="updatePhoto()">提交</div>
                </div>
            </div>
        </div>
    </div>

    <!-- 修改卡片提示框 -->
    <div class="modal" id="modify_photo_modal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <strong style="font-size: 1.5em;">修改备注信息</strong>
                </div>
                <div class="modal-body">
                    <img id="modify_photo_modal_img" v-bind:src="__imgRoot+photo.imgUrl">
                    <input type="text" class="form-control" id="modify_photo_modal_img_content" placeholder="请添加备注" v-bind:value="photo.imgContent">
                </div>
                <div class="modal-footer flex-item flex-row" style="width: 100%; padding: 0px; text-align: center;">
                    <div class="modal-footer-btn modal-footer-left_btn" id="modify_photo_cancel" data-dismiss="modal">取消</div>
                    <div class="modal-footer-btn modal-footer-right_btn" id="modify_photo_submit" v-on:click="modifyPhotoContent()">修改</div>
                </div>
            </div>
        </div>
    </div>

    <!-- 删除卡片提示框 -->
    <div class="modal" id="delete_photo_modal" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body" style="padding-top: 1.5em;">
                    <strong style="font-size: 1.5em; margin-bottom: 1em;">确认删除照片？</strong>
                </div>
                <div class="modal-footer flex-item flex-row" style="width: 100%; padding: 0px; text-align: center;">
                    <div class="modal-footer-btn modal-footer-left_btn" id="delete_photo_cancel" data-dismiss="modal">取消</div>
                    <div class="modal-footer-btn modal-footer-right_btn text-danger" id="delete_photo_submit" v-on:click="deletePhoto()">删除</div>
                </div>
            </div>
        </div>
    </div>

    

</div>



<input id='taskid' class='hidden' value="{:$taskid}" />
<!-- FIXME: 这里先这样写，获取全部接口。以后考再虑是否要每次都获取全部的接口功能，把这段代码移动到header.htm中 -->
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script type="text/javascript">
    var __imgRoot = '{:$imgRoot}';
    var __userId = {:$userId};
    var __answerId = 0;
    // FIXME: 应该将photo与photosList写成一个类
    var __photosList = [];
    wx.config({
        debug: false,
        appId: '{:$signPackage["appid"]}',
        timestamp: {:$signPackage["timestamp"]},
        nonceStr: '{:$signPackage["noncestr"]}',
        signature: '{:$signPackage["signature"]}',
        jsApiList : [ 'checkJsApi', 'onMenuShareTimeline',
                'onMenuShareAppMessage', 'onMenuShareQQ',
                'onMenuShareWeibo', 'hideMenuItems',
                'showMenuItems', 'hideAllNonBaseMenuItem',
                'showAllNonBaseMenuItem', 'translateVoice',
                'startRecord', 'stopRecord', 'onRecordEnd',
                'playVoice', 'pauseVoice', 'stopVoice',
                'uploadVoice', 'downloadVoice', 'chooseImage',
                'previewImage', 'uploadImage', 'downloadImage',
                'getNetworkType', 'openLocation', 'getLocation',
                'hideOptionMenu', 'showOptionMenu', 'closeWindow',
                'scanQRCode', 'chooseWXPay',
                'openProductSpecificView', 'addCard', 'chooseCard',
                'openCard', 'getLocalImgData' ]
    });
</script>




