
<div class="">
    <!-- pre id="log"></pre -->
    <div id="task-wrapper">
        <div class="userinfo">
            <div class=""><img src="{:$user['face']}" class="img-responsive img-circle"></div>
            <div class="text-center"><p>{:$user["nickname"]}</p></div>
        </div>
        <div class="tip" v-if="pagestatus == 0">
            <p>正在加载，请稍候...</p>
        </div>
        <div class="tip" v-if="pagestatus == 1">
            <p>未领取任何任务。</p>
        </div>

        <div class="tasks" class="clear" v-if="pagestatus == 2">
            <div class="task" v-for="(task, taskkey) in userinfo.tasks" v-bind:taskkey="taskkey" v-on:click="viewTask">
                <div class="task-title">{{task.title}}</div>
                <div class="task-brief">摘要：{{task.project.description}}</div>
                <div>地址：{{task.address}}</div>
                <div>期限：{{task.project.deadline}}</div>
            </div>
        </div>
        <div id="" v-if="pagestatus == 3"></div>
        <div id="task-info" class="clear" v-if="pagestatus == 3">
            <div class="task-title">{{userinfo.tasks[viewtaskkey].title}}</div>
            <div>
                <span class="task-type">{{userinfo.tasks[viewtaskkey].project.type}}</span>
                <span class="project-title">{{userinfo.tasks[viewtaskkey].project.title}}</span>
            </div>
            <div class="task-cover"><img v-bind:src="userinfo.tasks[viewtaskkey].project.cover" /></div>
            <div class="task-text">{{userinfo.tasks[viewtaskkey].project.text}}</div>

            <div class="task-infomations">
                <div class="task-address">地址：{{userinfo.tasks[viewtaskkey].address}}</div>
                <div class="task-contacts">联系人：{{userinfo.tasks[viewtaskkey].content}}</div>
                <div class="task-deadline">期限：{{userinfo.tasks[viewtaskkey].project.deadline}}</div>
                <div class="task-projectid">项目编号：{{userinfo.tasks[viewtaskkey].project.projectid}}</div>
            </div>

            <div class="task-operations">
                <a class="weui_btn weui_btn_primary" v-bind:href="userinfo.tasks[viewtaskkey].project.word">问卷下载</a>
                <button class="weui_btn weui_btn_primary" v-on:click="gosheet">提交任务</button>
                <button class="weui_btn weui_btn_primary" v-on:click="goback">返回</button>
            </div>
        </div>
    </div>
</div>
<script> var baiduak = "{=$baiduak}"; </script>

