div > .project_elf {
    vertical-align: top;
    border: 1px solid #eee;
    width: 40%;
    display: inline-block;
    min-height: 260px;
    margin: 5px;
    border-radius: 2px;
    padding: 2px;
}

.project_info > div {
    display: inline-block;
}
.cover_thumbnail {
    width: 45%;
}
.cover_thumbnail img {
    width: 88%;
    padding:4px;
}

.project_info_right {
    width: 45%;
    vertical-align: top;
    margin-top: 10px;
}

.description {
    border-top: 1px solid #eee;
    margin-top: 8px;
    padding: 5px;
}
