
<div id="page-wrapper" class="rel">
    <div id="sheetlist">
        <table class="table">
            <tr>
                <th>项目</th>
                <th>任务</th>
                <th>区域</th>
                <th>地址</th>
                <th>调查员</th>
                <th>状态</th>
                <th>查看</th>
            </tr>
            <tr v-for="(sheet, skey) in sheetlist">
                <td>{{sheet.project.title}}</td>
                <td>{{sheet.task.title}}</td>
                <td>{{sheet.task.location.province.title}}{{sheet.task.location.city.title}}{{sheet.task.location.district.title}}</td>
                <td>{{sheet.task.address}}</td>
                <td>{{sheet.info.user.nick}}</td>
                <td>{{sheet.task.status}}</td>
                <td><button class="" v-on:click="viewSheet" v-bind:sheet="skey">查看</button></td>
            </tr>
        </table>
        <div id="answer-viewer" class="" v-if="sheetlist != null && showviewsheet">
            <table>
                <tr v-for="answer in sheetlist[viewsheetkey].answers[0].reply.data">
                    <td><img v-bind:src="answer.image" /></td>
                    <td>{{answer.comment}}</td>
                    <td>{{answer.uploadloc.latitude}}/{{answer.uploadloc.longitude}}</td>
                    <td>{{answer.exifloc.latitude}}/{{answer.exifloc.longitude}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>

