
<div id="sheetlist">
    <div id="page-wrapper" class="rel">
        <table class="table" id='mytable'>
            <thead>
                <tr>
                    <th>项目</th>
                    <th>任务</th>
                    <th>区域</th>
                    <th>地址</th>
                    <th>调查员</th>
                    <th>状态</th>
                    <th>查看</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(sheet, skey) in sheetlist" v-bind:class="{success: sheet.info.nstatus == 1, warning: sheet.info.nstatus == 2}">
                    <td>{{sheet.task.project.title}}</td>
                    <td>{{sheet.task.title}}</td>
                    <td>{{sheet.task.location.province.title}}{{sheet.task.location.city.title}}{{sheet.task.location.district.title}}</td>
                    <td>{{sheet.task.address}}</td>
                    <td>{{sheet.info.user.nick}}</td>
                    <td>{{sheet.info.status}}</td>
                    <td><button class="" v-on:click="viewSheet" v-bind:task_id="sheet.task.id" 
                    v-bind:sheet="skey">查看</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id="answer-viewer" class="" v-if="sheetlist != null && (showviewsheet && !showviewimage)" v-on:click="closeViewSheet">
    </div>
    <div id="answer-content" v-if="sheetlist != null && showviewsheet" class="" v-bind:class="{'bg-success': sheetlist[viewsheetkey].info.nstatus == 1, 'bg-warning': sheetlist[viewsheetkey].info.nstatus == 2, 'bg-white': (sheetlist[viewsheetkey].info.nstatus != 1 && sheetlist[viewsheetkey].info.nstatus != 2)}">
        <div class="clear">
            <button class="pull-right btn btn-danger" v-on:click="closeViewSheet">X</button>
            <div class="pull-right" style="width: 50px;">&nbsp;</div>
            <button class="pull-right btn btn-warning" v-on:click="reject">不通过</button>
            <button class="pull-right btn btn-success" v-on:click="pass">通过</button>
        </div>
        <div class="answer-images clear">
            <div v-if="sheetlist[viewsheetkey]['questions'] != false">
                <div>
                
                <div class="question_elf box" v-for="(question, key) in sheetlist[viewsheetkey]['questions']" 
                    v-bind:userkey="key" v-bind:id="'question_'+question.id" v-bind:question_id="question.id" v-bind:class="{hidden: apiquestions[key].status == 'hide'}">
                    
                    <div class='qtitle'>{{question.title}}
                    <span class='parent_flag' v-if="question.is_parent != 0">
                        <span v-for="(opt, okey) in all_options" v-if="question.is_parent == opt.id"
                        v-bind:userkey="key">
                        关联到选项: {{opt.title}}
                        </span>
                    </span>
                    
                    
                    </div>
                    <div class='qnotes'>{{question.notes}}</div>
                    
                    <div v-if="question.type === 'radio'">
                        <div v-for="(question_opt, key) in question.options" v-bind:userkey="key">
                            <label class="radio-inline">
                            <input type="radio" class='r_and_c radio_input ' v-on:click=''  v-bind:id="'option_'+question_opt.id"
                            v-bind:name='question.id' v-bind:option_id='question_opt.id' v-bind:value='question_opt.value' 
                            v-bind:checked="question_opt.status == 'checked'" disabled> 
                                {{question_opt.value}}
                            </label> 
                        </div>
                    </div>
                    <div v-else-if="question.type === 'check'">
                        <div v-for="(question_opt, key) in question.options" v-bind:userkey="key">
                            <label class="checkbox-inline">
                            <input type="checkbox" class='r_and_c check_input' v-bind:option_id='question_opt.id'  
                            v-on:click=''  v-bind:name='question.id' v-bind:value='question_opt.value' v-bind:id="'option_'+question_opt.id" 
                            v-bind:checked="question_opt.status == 'checked'" disabled> 
                                {{question_opt.value}}
                            </label> 
                        </div>
                    </div>
                    <div v-else-if="question.type === 'star'">
                        <label class="radio-inline">
                            <div class="star_input" v-on:click="" v-bind:star_count="question.answer_value" width="200"></div>
                        </label>
                        <label class="radio-inline">{{question.answer_value}}分</label>
                    </div>
                    <div v-else-if="question.type === 'range'">
                        <label class="radio-inline">
                            <input type="range" class='range_input' name="" min="1" 
                            v-bind:max="question.value.setnumber" v-on:change="range_change(question)"  v-bind:value="question.answer_value" disabled />
                        </label class="radio-inline">
                        <label>{{question.answer_value}}分</label>
                    </div>
                    <div v-else-if="question.type === 'text'">
                        <input class='text_input' type="text" name="" v-on:blur="text_blur(question)"  v-bind:value="question.answer_value" disabled />
                    </div>
                    <div v-if="question.is_upload == 1">
                        <div class='' style="margin-top: 10px;margin-bottom: 10px; color: grey; border-top: 1px solid #eee; padding-top: 10px;"><small>图片列表</small></div>
                        <div>
                            <div v-if='question.img_list.length > 0' v-for="(photo, datakey) in question.img_list" style='display: inline-block;vertical-align: top; margin-right: 15px;'>
                                <img class="photo_thumbnail" v-bind:src='photo.thumbnail'
                                v-bind:origsrc="photo.image"  v-on:click="viewImage_new(viewsheetkey, question.id, datakey)"  v-bind:datakey="datakey" />
                                <div class="comment">{{photo.imgContent}}</div>
                            </div>
                            <div v-if='question.img_list.length == 0'>
                                <p style='color: grey'>无图片上传</p>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
            
            <div v-else='' class="answer-thumbnail pull-left" v-for="(answer, datakey) in sheetlist[viewsheetkey].answers[0].reply.data">
                <div class=""><img class="sheet" v-bind:src="answer.thumbnail" v-bind:origsrc="answer.image" v-on:click="viewImage" v-bind:sheetkey="viewsheetkey" v-bind:datakey="datakey" /></div>
                <div class="comment">{{answer.comment}}</div>
            </div>
        </div>
    </div>
    
    <div id="answer-imageview" v-if="showviewimage" class="">
        <div class="clear">
            <button class="pull-right btn btn-danger" v-on:click="closeViewImage">X</button>
            <button class="pull-right btn btn-default" v-on:click="viewNextImage" v-if="viewreplykey < sheetlist[viewsheetkey].answers[0].reply.data.length - 1">下一页</button>
            <button class="pull-right btn btn-default" v-on:click="viewPrevImage" v-if="viewreplykey > 0">上一页</button>
        </div>
        <div>
            <div class="pull-left project-info">
                <table class="table table-bordered">
                    <tr><td colspan="2"><center>项目</center></td></tr>
                    <tr><td colspan="2"><img v-bind:src="sheetlist[viewsheetkey].task.project.cover" /></td></tr>
                    <tr><td>编号</td><td>{{sheetlist[viewsheetkey].task.project.projectid}}</td></tr>
                    <tr><td>名称</td><td>{{sheetlist[viewsheetkey].task.project.title}}</td></tr>
                    <tr><td>类型</td><td>{{sheetlist[viewsheetkey].task.project.type}}</td></tr>
                    <tr><td>文本</td><td>{{sheetlist[viewsheetkey].task.project.text}}</td></tr>
                    <tr><td>问卷</td><td><a v-bind:href="sheetlist[viewsheetkey].task.project.word">点击打开</a></td></tr>
                    <tr><td>期限</td><td>{{sheetlist[viewsheetkey].task.project.deadline}}</td></tr>
                </table>
                <table class="table table-bordered">
                    <tr><td colspan="2"><center>任务</center></td></tr>
                    <tr><td>名称</td><td>{{sheetlist[viewsheetkey].task.title}}</td></tr>
                    <tr><td>区域</td><td>
                            {{sheetlist[viewsheetkey].task.location.province.title}}
                            {{sheetlist[viewsheetkey].task.location.city.title}}
                            {{sheetlist[viewsheetkey].task.location.district.title}}
                    </td></tr>
                    <tr><td>地址</td><td>{{sheetlist[viewsheetkey].task.address}}</td></tr>
                    <tr><td>内容</td><td>{{sheetlist[viewsheetkey].task.content}}</td></tr>
                </table>
                <table class="table table-bordered">
                    <tr><td colspan="2"><center>调查员</center></td></tr>
                    <tr>
                        <td rowspan="2"><img class="userinfo-avatar" v-bind:src="sheetlist[viewsheetkey].info.user.face"/></td>
                        <td>{{sheetlist[viewsheetkey].info.user.nick}}</td>
                    </tr>
                    <tr>
                        <td>积分：{{sheetlist[viewsheetkey].info.user.score}}</td>
                    </tr>
                </table>
                <table class="table table-bordered">
                    <tr><td><center>上传地址</center></td></tr>
                    <tr><td><div class=""><img class="map" v-bind:src="sheetlist[viewsheetkey].answers[0].reply.data[viewreplykey].uploadloc.mapurl" /></div></td></tr>
                </table>
                <table class="table table-bordered" v-if="sheetlist[viewsheetkey].answers[0].reply.data[viewreplykey].exifloc.mapurl != ''">
                    <tr><td><center>照片地址</center></td></tr>
                    <tr><td><div class=""><img class="map" v-bind:src="sheetlist[viewsheetkey].answers[0].reply.data[viewreplykey].exifloc.mapurl" /></div></td></tr>
                </table>
            </div>
            <div class="pull-left large-image-wrapper"><a target="_blank" v-bind:href="sheetlist[viewsheetkey].answers[0].reply.data[viewreplykey].image"><img class="largeView" v-bind:src="sheetlist[viewsheetkey].answers[0].reply.data[viewreplykey].image" /></a></div>
        </div>
    </div>
    
    
    <div id="answer-imageview" v-if="showviewimage_new" class="">
        <div class="clear">
            <button class="pull-right btn btn-danger" v-on:click="closeViewImage_new">X</button>
            <button class="pull-right btn btn-default" v-on:click="viewNextImage_new" v-if="viewreplykey < sheetlist[viewsheetkey].questions[viewquestionkey].img_list.length - 1">下一页</button>
            <button class="pull-right btn btn-default" v-on:click="viewPrevImage_new" v-if="viewreplykey > 0">上一页</button>
        </div>
        <div>
            <div class="pull-left project-info">
                <table class="table table-bordered">
                    <tr><td colspan="2"><center>项目</center></td></tr>
                    <tr><td colspan="2"><img v-bind:src="sheetlist[viewsheetkey].task.project.cover" /></td></tr>
                    <tr><td>编号</td><td>{{sheetlist[viewsheetkey].task.project.projectid}}</td></tr>
                    <tr><td>名称</td><td>{{sheetlist[viewsheetkey].task.project.title}}</td></tr>
                    <tr><td>类型</td><td>{{sheetlist[viewsheetkey].task.project.type}}</td></tr>
                    <tr><td>文本</td><td>{{sheetlist[viewsheetkey].task.project.text}}</td></tr>
                    <tr><td>问卷</td><td><a v-bind:href="sheetlist[viewsheetkey].task.project.word">点击打开</a></td></tr>
                    <tr><td>期限</td><td>{{sheetlist[viewsheetkey].task.project.deadline}}</td></tr>
                </table>
                <table class="table table-bordered">
                    <tr><td colspan="2"><center>任务</center></td></tr>
                    <tr><td>名称</td><td>{{sheetlist[viewsheetkey].task.title}}</td></tr>
                    <tr><td>区域</td><td>
                            {{sheetlist[viewsheetkey].task.location.province.title}}
                            {{sheetlist[viewsheetkey].task.location.city.title}}
                            {{sheetlist[viewsheetkey].task.location.district.title}}
                    </td></tr>
                    <tr><td>地址</td><td>{{sheetlist[viewsheetkey].task.address}}</td></tr>
                    <tr><td>内容</td><td>{{sheetlist[viewsheetkey].task.content}}</td></tr>
                </table>
                <table class="table table-bordered">
                    <tr><td colspan="2"><center>调查员</center></td></tr>
                    <tr>
                        <td rowspan="2"><img class="userinfo-avatar" v-bind:src="sheetlist[viewsheetkey].info.user.face"/></td>
                        <td>{{sheetlist[viewsheetkey].info.user.nick}}</td>
                    </tr>
                    <tr>
                        <td>积分：{{sheetlist[viewsheetkey].info.user.score}}</td>
                    </tr>
                </table>
                <table class="table table-bordered">
                    <tr><td><center>上传地址</center></td></tr>
                    <tr><td><div class=""><img class="map"  v-bind:src="sheetlist[viewsheetkey].questions[viewquestionkey].img_list[viewreplykey].mapurl" /></div></td></tr>
                </table>
                <!--<table class="table table-bordered" v-if="sheetlist[viewsheetkey].answers[0].reply.data[viewreplykey].exifloc.mapurl != ''">
                    <tr><td><center>照片地址</center></td></tr>
                    <tr><td><div class=""><img class="map" v-bind:src="sheetlist.uploadmapurl" /></div></td></tr>
                </table>-->
            </div>
            <div class="pull-left large-image-wrapper"><a target="_blank" v-bind:href="sheetlist[viewsheetkey].questions[viewquestionkey].img_list[viewreplykey].img"><img class="largeView" v-bind:src="sheetlist[viewsheetkey].questions[viewquestionkey].img_list[viewreplykey].img" /></a></div>
        </div>
    </div>
    
    
    
    
</div>
<script> var baiduak = "{=$baiduak}"; </script>
