
<div id="sheetlist">
    <div id="page-wrapper" class="rel">
        <table class="table">
            <tr>
                <th>项目</th>
                <th>任务</th>
                <th>区域</th>
                <th>地址</th>
                <th>调查员</th>
                <th>状态</th>
                <th>查看</th>
            </tr>
            <tr v-for="(sheet, skey) in sheetlist">
                <td>{{sheet.project.title}}</td>
                <td>{{sheet.task.title}}</td>
                <td>{{sheet.task.location.province.title}}{{sheet.task.location.city.title}}{{sheet.task.location.district.title}}</td>
                <td>{{sheet.task.address}}</td>
                <td>{{sheet.info.user.nick}}</td>
                <td>{{sheet.task.status}}</td>
                <td><button class="" v-on:click="viewSheet" v-bind:sheet="skey">查看</button></td>
            </tr>
        </table>
    </div>

    <div id="answer-viewer" class="" v-if="sheetlist != null && showviewsheet">
    </div>
    <div id="answer-content" v-if="sheetlist != null && showviewsheet" class="">
        <div class="flex-item flex-wrap flex-col answer-images"  v-for="answer in sheetlist[viewsheetkey].answers[0].reply.data">
            <div class="flex-item flex-row flex-space-between">
                <div class="flex-item"><img class="sheet" v-bind:src="answer.image" /></div>
                <div class="flex-item"><img class="map" v-bind:src="answer.uploadloc.mapurl" /></div>
                <div class="flex-item"><img class="map" v-bind:src="answer.exifloc.mapurl" /></div>
            </div>
            <div class="flex-item">{{answer.comment}}</div>
        </div>
    </div>
</div>

