.wx_headimg {
  width: 100px;
  height: 100px;
}

.locinfo {
}

.tasks {
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 10px;
}

.tasks .task {
    width: 100%;
    margin-top: 5px;
    border: solid 1px #333;
}

.tasks table.task .task-cover {
    width: 45%;
}

.tasks .task:nth-child(odd) { 
    margin-right: 2%;
}

.tasks .task-cover {
    width: 50%;
}

.tasks .task-cover img {
    width: 95%;
    max-height: 100px;
}

.tasks .task-brief {
    width: 50%;
}

.tasks .task-title {
}

.tasks .task-type {
}

#task-info {
    padding-left: 3%;
    padding-right: 3%;
    width: 100%;
    margin-bottom: 10px;
}

#task-info .task {
    width: 100%;
    margin-top: 5px;
    border: solid 1px #333;
}

#task-info .task-cover {
    width: 100%;
}

#task-info .task-cover img {
    width: 100%;
    max-height: 200px;
}


#log {
    width: 100%;
    display: none;
}

#goback {
    margin-top: 5px;
}


